blockquote {
    font-family: Georgia, serif;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: xx-large;
    position: absolute;
    left: -0.1em;
}

blockquote cite {
    display: block;
    font-style: italic;
    position: relative;
    text-align: right;
}

.quote cite{
    margin-left: 50%;
    width: 50%;
}

.epigraph {
    left: 40%;
    position: relative;
    width: 60%;
}

.rhyme blockquote:before{
    display: none;
}

.rhyme cite{
    margin-left: 3em;
    text-align: left;
}
