blockquote {
    font-family: Georgia, serif;
    padding: 20px;
    position: relative;
    width: 80%;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 40px;
    position: absolute;
    left: -10px;
    top: 20px;
}

blockquote cite {
    display: block;
    font-style: italic;
    margin-left: 50%;
    position: relative;
    width: 50%;
}


.epigraph {
    left: 50%;
    width: 50%;
}

/*.epigraph cite {*/
    /*left: 75%;*/
    /*width: 25%;*/
/*}*/
