@import url("blockquote.css");

body {
    background: url("../img/paper.jpg");
    font-family: Georgia, serif;
    font-size: medium;
    /*background: url("../img/temple.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*min-height: 75vh;*/
}

h3, h4{
    font-variant:  small-caps;
}

.column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-style: dotted;
    -moz-column-rule-width: 1px;
}

.tab {
    padding-left: 2em;
}

#content {
    left: 20%;
    position: absolute;
    width: 60%;
}
