@import url("blockquote.css");
@import url("image.css");
@import url("menu.css");
@import url("table.css");

body {
    background: url("../img/paper.jpg");
    font-family: Georgia, serif;
    font-size: medium;
}

header, nav, section, article, aside, footer {
    display: block
}

div {
    margin-bottom: 1em;
}

h3, h4{
    font-size: larger;
    font-variant:  small-caps;
    margin: 0px;
}

#content {
    /*display: block;*/
    float: left;
    margin: 0px 20%;
    max-width: 55em;
    min-width: 25em;
    position: relative;
    width: 60%;
}

.article {
    text-align: justify;
}

.column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-style: dotted;
    -moz-column-rule-width: 1px;
}

.tab {
    padding-left: 2em;
}
