@import url("blockquote.css");
@import url("image.css");

body {
    background: url("../img/paper.jpg");
    font-family: Georgia, serif;
    font-size: medium;
}

#content {
    left: 20%;
    position: absolute;
    width: 60%;
}

h3, h4{
    font-variant:  small-caps;
}

.column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-style: dotted;
    -moz-column-rule-width: 1px;
}

.epigraph {
    left: 50%;
    position: relative;
    width: 50%;
}

.epigraph cite {
    text-align: right;
}

.tab {
    padding-left: 2em;
}
