#menu h1 {
    font-family: Georgia, serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

#menu h6{
    font-family: Verdana, sans-serif;
    /*font-family: Georgia, serif;*/
    font-size: 10px;
    /*font-style: italic;*/
    font-weight: normal;
    margin: -0.5em 0 0 0;
    padding: 0;
}

#menu img{
    float: left;
    padding: 5px 5px;
    position: relative;
    height: 60px;
}

#menu {
    float: left;
    margin: 0 20%;
    max-width: 55em;
    min-width: 25em;
    padding-bottom: 3em;
    position: relative;
    width: 60%;
}

#menu ul{
    min-width: 800px;
    padding: 0;
}

#menu ul li
{
    float: left;
    font-family: Verdana, sans-serif;
    list-style: none;

    border: 1px #000000;
    border-left-style: solid;
    font-size: 80%;
    height: 4em;
    margin: 0;
    padding: 0 2em 0 0.5em;
}
#menu ul a
{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}


#menu ul a
{
    color: #000000;
    text-decoration: none;
}

#menu ul a:hover
{
    text-decoration: underline;
}
