#menu {
    position: absolute;
}

#menu ul {
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
}

#menu ul li
{
    /*float: left;*/
    font-family: Verdana, sans-serif;
    list-style: none;
}

#menu ul a
{
    font-weight: 700;
}
